.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.overlay {
  position: fixed;
  /* 画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  /* 幅を100%に */
  height: 100%;
  /* 高さを100%に */
  background-color: rgba(0, 0, 0, 0.5);
  /* 黒色の半透明 */
  z-index: 9999;
  /* 他の要素の上に表示 */
  display: flex;
  justify-content: center;
  /* 中央揃え */
  align-items: center;
  /* 中央揃え */
}

/* 全体のマージンとパディングをリセット */
html,
body,
#root {
  margin: 0;
  padding: 0;
}

/* ルートコンテナに適用するスタイル */
.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* 上部に寄せる */
  min-height: 100vh;
  /* 最小高さをビューポートの高さに合わせる */
  width: 100vw;
  background: url('https://pub-5c00d9cd767343259424b03f8a52941a.r2.dev/和.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
  /* 必要に応じてスクロールバーを表示 */
}